<button mat-raised-button (click)="openContestSlides()">Open Contest Slides</button>

<lightgallery #lightGalleryElement id="lightGalleryElement"
  [settings]="{
    plugins: [lgAutoPlay, lgFullScreen, lgZoom],
    iframeMaxHeight: '300px',
    autoplay: true,
    autoplayControls: true,
    allowMediaOverlap: true,
    progressBar: false,
    counter: false,
    hideBarsDelay: 500,
    preload: 10,
    backdropDuration: 400,
    slideEndAnimation: false,
    controls: true,
    dynamic: true,
    dynamicEl: this.items,
    appendSubHtmlTo: '.lg-item',
  }"
  [onInit]="onInit">
</lightgallery>
