.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 20px;
  justify-content: space-around;
}

input {
  padding: 10px;
  margin-left: -1px;
  width: calc(100% - 70px);
  background-image: url("/assets/icons/search8.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 35px;
  padding-left: 60px;
  border: 1px solid #000;
  box-shadow: none;
  -webkit-appearance: none;
  height: 35px;
  margin-top:5px;
  font-size: 18px;
}

button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

.root-div {
  background-image: url("/assets/graphics/hippie-flower-background.png");
  background-size: contain;
  padding: 10px;
}

.center-content {
  display: flex;
  justify-content: center;
}
