<div style="width: 95vw; max-width: 400px;" class="center">

    <mat-card *ngIf="!isAdmin">
      <mat-card-content style="margin-bottom: 20px" class="center-content-block">
        <p class="center-content" >Please enter Admin password</p>
        <div class="center-content" style="width:100%; margin-top: 20px;">
          <mat-form-field style="width:100%;">
            <mat-label>Password</mat-label>
            <input matInput #password type="password" (input)="passwordInput($event)">
          </mat-form-field>
        </div>

        <div class="center-content">
          <button [disabled]="!isPasswordInputted" mat-raised-button (click)="validatePassword()" class="button">
            <span>Login</span>
          </button>
        </div>

        <div *ngIf="isPasswordAttempted" style="margin-top: 20px; margin-bottom: -20px">
          <p *ngIf="!isPasswordSuccesfull" class="center-content" style="color:red">Wrong password!</p>
          <p *ngIf="isPasswordSuccesfull" class="center-content" style="color: green">Logged in.<br>You may delete any photo(s) in the gallery.</p>
        </div>

      </mat-card-content>

      <mat-card-footer>

      </mat-card-footer>
    </mat-card>

    <mat-card *ngIf="isAdmin">
      <mat-card-content>
        <mat-card-title  class="toggle">Admin Settings</mat-card-title>
        <section>
          <mat-slide-toggle [(ngModel)]="adminDelete" class="toggle" (change)="setAdminSettings()">
            Enable Admindelete any photo and comment
          </mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="stopDB" class="toggle" (change)="setAdminSettings()">
            Stop all users from uploading and commenting
          </mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="showStream" class="toggle" (change)="setAdminSettings()">
            Show dialog message that stream is currently on
          </mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="showKahoot" class="toggle" (change)="setAdminSettings()">
            Show dialog message for link to Kahoot!
          </mat-slide-toggle>
        </section>
        <mat-form-field style="width: 100%; margin-top: 5px">
          <mat-label style="margin-left:15px">Kahoot Pin</mat-label>
          <input style="margin-left:20px" matInput type="text" [(ngModel)]="kahootPin" #filter>
        </mat-form-field>
        <button mat-raised-button (click)="setAdminSettings()" style="width: 180px; margin-bottom: 10px; margin-left: -6px;">
          <span>Update Kahoot Pin</span>
        </button>
      </mat-card-content>
      <div class="center-content">
        <app-slide-show></app-slide-show>
      </div>
      <div class="center-content">
        <button *ngIf="!showMostLikes" mat-raised-button (click)="getMostLikes()" style="width: 250px; margin-bottom: 10px;">
          <span>Show Most Liked Photos</span>
        </button>
      </div>
    </mat-card>
  <section *ngIf="showMostLikes" class="most-likes" style="margin-bottom: 20px">
    <div *ngFor="let photo of mostLikes" style="margin-top: 20px">
      <app-gallery-card [galleryInformation]="photo"></app-gallery-card>
    </div>
  </section>

</div>



