.root-div {
  background-image: url("/assets/graphics/4965010.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  padding: 10px;
}

/* .btn-group button {   */
  .btn-group-vertical button {
 /* Some padding top right bottom left */
    cursor: pointer; /* Pointer/hand icon */
    width: auto; /* Set a width if needed */
    /* Make the buttons appear below each other */
    font-weight: bold;
    text-transform: uppercase;
    margin-top:0;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .btn-home-style {
    font-size: 30px;
    font-size: 4.5cqh;
    font-family: ShakyHandSomeComic;
    height:auto;
    margin: auto;
    width: 450px!important;
    max-width: 95vw!important;
    justify-content: flex-start;
  }

  .center {
    margin: 0;
    position: fixed;
    top: calc(35%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .bottom-center {
    width: 90%;
    max-width: 800px;
    margin: 0;
    position: relative;
    top: calc(80% - 30px);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .botton-img {
    width: 70px;
    height: 70px;
  }

  .horizontal-center {
    margin: 0;
    position: fixed;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    max-width: 95%
  }

  .vertitcal {
    cursor: pointer; /* Pointer/hand icon */
    width: auto; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 20px;
    justify-content: center;
  }

  .mat-icon {
    font-size: 70px;
    height: 70px;
    width: 70px;
    min-height: 70px;
    min-width: 70px;
    line-height: 70px;
  }

  .button-content {
    display: flex;
    align-items: center;
  }

  .button-text {
    position: relative;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
  }
