.horizontalcenter {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

button {
  font-size: 14px;
  font-weight: bold;
  height: 45px;
  background-color: #fd7543;
  border-radius: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.buttonText {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

.mat-button {
  border-radius: 10px;
}
