.root-div {
  background-image: url("/assets/graphics/60-dance.png");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-color: #EA5754FF;
  padding: 10px;
}

.btn-group-vertical button {
  /* Some padding top right bottom left */
  cursor: pointer; /* Pointer/hand icon */
  /* Make the buttons appear below each other */
  font-weight: bold;
  text-transform: uppercase;
  margin-top:0;
  display: flex;
  align-items: center;
}

mat-card-title {
  font-size: 25px;
  margin-top: 10px;
}

.success {
  text-align: center;
  font-size: 1.25em;
  margin: 10px;
  color: #73AF55;
}

.center {
  position: absolute;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-content {
  display: flex;
  justify-content: center;
}

.horizontal-center {
  position: fixed;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.namecard {
  width: 85dvw;
  margin-top: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.footer {
  position: fixed;
  bottom: 0;
  margin-left: 0px;
  transform: translate(-10px, 0);
}

.button {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 90%;

  font-size: 22px;
  height: 60px;
  max-width: 400px;
  justify-content: flex-start;
}

.photo-container {
  position: relative;
}
.photo-container img {
  display: block;
}
.download-button {
  position: absolute;
  bottom: 10px;
  left: calc(100% - 65px);
}

.icon {
  font-size: 70px;
  height: 60px;
  width: 60px;
  min-height: 60px;
  min-width: 60px;
  line-height: 60px;
  margin-left: 20px;
}

.icon-small {
  font-size: 50px;
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  line-height: 50px;
  margin-left: 10px;
}

.button-text {
  margin-left: 20px;
}

img {
  display: block;
  max-width: 100vw;
  max-height: calc(100vh - 200px);
  object-fit: contain;
}

/* For Checkmark animation. Source: https://codepen.io/elevaunt/pen/JYRBzJ */

svg {
  width: 100px;
  display: block;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
