.center {
  position: absolute;
  top: calc(50% - 60px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-content {
  display: flex;
  justify-content: center;
}

.namecard {
  width: 85dvw;
  margin-top: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.footer {
  position: fixed;
  bottom: 0;
  margin-left: 0px;
  transform: translate(-10px, 0);
}

.button {
  height: 60px;
  width: 45%;
  max-width: 200px;
}

.my-custom-snackbar {
  margin: 0 !important;
  position: absolute;
  right: 100px;
  top: 60px;
}
