<div>
  <main class="main">
    <mat-toolbar #toolbar color="primary" style="background-color:#F85F28; position: fixed; z-index: 2; container-type: size;">
      <button mat-icon-button style="margin-left:-15px" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span><button mat-button [routerLink]="['/']" style="font-size:22px; font-size:35cqh; font-family: Shagadelic">Granted Photography</button></span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <mat-drawer-container #drawerContainer class="example-container">
      <mat-drawer #drawer class="example-sidenav" mode="over" [autoFocus]="false">
        <div fxLayout="column">
          <button mat-button [routerLink]="['/']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()">
            <mat-icon svgIcon="home" inline="true" class="mat-button-icon"></mat-icon>Home</button>
          <button mat-button [routerLink]="['/shoot']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()">
            <mat-icon svgIcon="camera" inline="true" class="mat-button-icon"></mat-icon>Take a Photo</button>
          <button mat-button [routerLink]="['/upload']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()">
            <mat-icon svgIcon="upload" inline="true" class="mat-button-icon"></mat-icon>Upload Photos</button>
          <button mat-button [routerLink]="['/gallery']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()">
            <mat-icon svgIcon="gallery" inline="true" class="mat-button-icon"></mat-icon>Gallery</button>
          <button mat-button [routerLink]="['/gallery']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()">
            <mat-icon svgIcon="prizes" inline="true" class="mat-button-icon"></mat-icon>Not Implemented</button>
          <button mat-button [routerLink]="['/gallery']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()">
            <mat-icon svgIcon="website" inline="true" class="mat-button-icon"></mat-icon>Not Implemented</button>
          <button mat-button onclick="window.location.href='https://crgrant2024.wixsite.com';" class="button-sidenav">
            <mat-icon svgIcon="wedding" inline="true" class="mat-button-icon"></mat-icon>Our Website!</button>
        </div>
      </mat-drawer>

      <section class="content" #content (click)="drawerContainer.close()" >
        <router-outlet></router-outlet>
      </section>
    </mat-drawer-container>
  </main>
</div>
