<div>
  <main class="main">
    <mat-toolbar #toolbar color="primary" style="background-color:#F85F28">
      <button mat-icon-button style="margin-left:-15px" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span><button mat-button [routerLink]="['/']" style="font-size:22px; font-family: Shagadelic">Granted Photography</button></span>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>


    <mat-drawer-container #drawerContainer class="example-container">
      <mat-drawer #drawer class="example-sidenav" mode="push">
        <div fxLayout="column">
          <button mat-button [routerLink]="['/']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()" style="font-size:30px;">
            <mat-icon>filter_1</mat-icon>Home</button>
          <button mat-button [routerLink]="['/shoot']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()" style="font-size:26px;">
            <mat-icon>filter_2</mat-icon>Take a Photo</button>
          <button mat-button [routerLink]="['/upload']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()" style="font-size:24px;">
            <mat-icon>filter_3</mat-icon>Upload Photos</button>
          <button mat-button [routerLink]="['/gallery']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()"  style="font-size:22px;">
            <mat-icon>filter_4</mat-icon>Gallery</button>
          <button mat-button onclick="window.location.href='https://crgrant2024.wixsite.com/wedding';" class="button-sidenav">
            <mat-icon>filter_5</mat-icon>Wedding Website</button>
        </div>
      </mat-drawer>

      <section class="content" (click)="drawerContainer.close()" >
        <router-outlet></router-outlet>
      </section>
    </mat-drawer-container>
  </main>
</div>
