<div>
  <main>
    <mat-toolbar #toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span><button mat-button [routerLink]="['/']">Granted Photography</button></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>


    <mat-drawer-container #drawerContainer class="example-container">
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div fxLayout="column">
          <button mat-button [routerLink]="['/']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()">
            <mat-icon>filter_1</mat-icon>Home</button>
          <button mat-button [routerLink]="['/shoot']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()">
            <mat-icon>filter_2</mat-icon>Take a Photo</button>
          <button mat-button [routerLink]="['/gallery']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()">
            <mat-icon>filter_3</mat-icon>Gallery</button>
          <button mat-button [routerLink]="['/upload']" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()">
            <mat-icon>filter_4</mat-icon>Upload test</button>
          <button mat-button routerLink="/page5" routerLinkActive="selected no-border txt-bold" class="button-sidenav" (click)="drawerContainer.close()">
            <mat-icon>filter_5</mat-icon>More stuff</button>
        </div>
      </mat-drawer>

      <section class="content" (click)="drawerContainer.close()" >
        <router-outlet></router-outlet>
      </section>
    </mat-drawer-container>
  </main>
</div>
