<div #rootDiv class="root-div">
  <!-- Embedded code for event live -->
  <div style="padding-top: 20px">
    <div class="eventlive-embed" style="margin-bottom: -200px;"><iframe src="https://evt.live/crgrant20248507/crgrant2024/embed?autoplay=true" width="100%" height="100%" allowfullscreen allow="autoplay" allowtransparency="true" frameborder="0" style="margin-bottom: -400px"></iframe></div><style scoped> .eventlive-embed{padding-bottom: 56.25%; position: relative; margin: 0 auto;}.eventlive-embed iframe{width: 100%; height: 100%; position: absolute; left: 0px; top: 0px;}@media only screen and (max-width: 576px){.eventlive-embed{min-height: 630px; padding-bottom: 0;}.eventlive-embed iframe{position: static; min-height: 630px;}}</style>
  </div>
</div>


<!-- https://evt.live/crgrant20248507/test-event -->
<!-- https://evt.live/crgrant20248507/crgrant2024 -->
