
<div #rootDiv class="root-div">
  <div [hidden]="!showCheck" style="width: 95vw; max-width: 400px;" class="center">
    <mat-card >
      <mat-card-content style="margin-bottom: 10px" class="center-content">
      <svg viewBox="0 0 130.2 130.2">
          <circle
            class="path circle"
            fill="none"
            stroke="#73AF55"
            stroke-width="6"
            stroke-miterlimit="10"
            cx="65.1"
            cy="65.1"
            r="62.1"
          />
          <polyline
            class="path check"
            fill="none"
            stroke="#73AF55"
            stroke-width="6"
            stroke-linecap="round"
            stroke-miterlimit="10"
            points="100.2,40.2 51.5,88.8 29.8,67.5"
          />
        </svg>
      </mat-card-content>
      <p class="success">Uploaded to gallery!</p>
      <mat-card-footer style="margin-top: 20px;">
        <div class="center-content">
          <div>
            <button mat-raised-button style="margin-bottom: 15px; background-color: #E4FFC4; font-size: 20px;"  id="save" (click)="fileInput.click()" class="button">
              <mat-icon svgIcon="upload" inline="true" class="icon"></mat-icon>
              <span class="button-text">Upload more!</span>
            </button>
            <button mat-raised-button style="background-color: #CDE0F3; font-size: 20px;" [routerLink]="['/gallery']" class="button">
              <mat-icon svgIcon="viewgallery" inline="true" class="icon"></mat-icon>
              <span class="button-text">View in Gallery</span>
            </button>
          </div>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>

  <div [hidden]="!showFileInput">
    <div class="center">
      <mat-card style="width: 95dvw; max-width: 400px;">
        <mat-card-title class="center-content">What's your name?</mat-card-title>
        <mat-card-content>
          <p class="center-content" >
              <input style="width: 95%; height: 40px; font-size: 20px; text-align: center;" maxlength="20" #nameInput type="text" matInput placeholder="name" id="nameInput" (input)="NameInput($event)">
          </p>
        </mat-card-content>
      </mat-card>

      <div [style.visibility]="(uploadDisabled==false) ? 'visible' : 'hidden'">
        <mat-card
          id="dimmer" style="width: 95dvw; max-width: 400px;margin-top:20px">
          <mat-card-title class="center-content">Select your photos</mat-card-title>
          <mat-card-content>
            <div>
              <button type="button" mat-raised-button (click)="fileInput.click()" style=" width: 110px; background-color: #E4FFC4; margin: 20px; margin-right: 5px">
                <span style="line-height: 0px;">Browse...</span>
              </button>
              <form #fileForm style="margin-top:0px; max-width: 80px; display: inline-block;">
                <input (change)="onFileSelected($event)" class="fileInput" #fileInput type="file" id="fileInput" accept="video/*,image/*" multiple="multiple">
              </form>
            </div>
            <div *ngIf="!uploadButtonDisabled">
              <div>
                <mat-card-title class="center-content">Select Resolution</mat-card-title>
              </div>
              <div class="center-content" style="margin-left: 10px;">
                <mat-radio-group aria-label="Select Quality" [(ngModel)]="radioButtonValue">
                  <mat-radio-button value="Full">Full (Better Quality)</mat-radio-button>
                  <mat-radio-button value="Web">Web Format (Faster Upload)</mat-radio-button>
                </mat-radio-group>
              </div>
              <div style="margin-bottom: 20px;">
                <mat-card-title class="center-content">Upload to Gallery</mat-card-title>
              </div>
              <div class="center-content">
                <button mat-raised-button style="margin-bottom: 5px; background-color: #E4FFC4"  id="save" (click)="post()" class="button">
                  <mat-icon svgIcon="upload" inline="true" class="icon"></mat-icon>
                  <span class="button-text">START UPLOAD</span>
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="center" *ngIf="showSpinner">
    <mat-card style="width: 250px; margin-top: -20px">
      <mat-spinner style="margin-top: 30px;" class="horizontal-center"></mat-spinner>
      <mat-card-title style="margin-top: 20px; margin-left: 65px;">Uploading<span class="loading"></span></mat-card-title>
      <mat-progress-bar _mat-animation-noopable
        style="margin-top: 20px; width: 100%; transition-duration: 0 !important;  --mdc-linear-progress-active-indicator-height: 6px; --mdc-linear-progress-track-height: 6px;"
        mode="determinate" value="{{progress}}" >
      </mat-progress-bar>
    </mat-card>
  </div>
</div>


