.root-div {
  background-image: url("/assets/graphics/womendancing.png");
  background-size: 650px;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-color: #F07D60FF;
  padding: 10px;
}

.center {
  position: absolute;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-content {
  display: flex;
  justify-content: center;
}

.namecard {
  width: 85dvw;
  margin-top: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.footer {
  position: fixed;
  bottom: 0;
  margin-left: 0px;
  transform: translate(-10px, 0);
}

.button {
  height: 30px;
  width: 70%;
}

.photo-container {
  position: relative;
}
.photo-container img {
  display: block;
}
.download-button {
  position: absolute;
  bottom: 10px;
  left: calc(100% - 65px);
}

img {
  display: block;
  max-height:100%;
  min-height:100%;
  max-width:100%;
  width: auto;
}

.horizontal-center {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

mat-card-title {
  font-size: 25px;
  margin-top: 10px;
}
