.center {
  position: absolute;
  top: calc(50% - 10dvh);
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80dvh;
}

.center-content {
  display: flex;
  justify-content: center;
}

.namecard {
  width: 85dvw;
  margin-top: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.footer {
  position: fixed;
  bottom: 0;
  margin-left: 0px;
  transform: translate(-10px, 0);
}

.button {
  height: 60px;
  width: 45%;
  max-width: 200px;
}

.photo-container {
  position: relative;
}
.photo-container img {
  display: block;
}
.download-button {
  position: absolute;
  bottom: 10px;
  left: calc(100% - 65px);
}

img {
  display: block;
  max-height:100%;
  min-height:100%;
  max-width:100%;
  width: auto;
}
