.root-div {
  /* background-image: url("/assets/graphics/60-dance.png");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-color: #EA5754FF; */
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.center {
  position: absolute;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-content {
  display: flex;
  justify-content: center;
}

.title {
  font-family: KeepOnTruckin;
  font-size: 28px;
  margin-top: 40px;
  color: #f84f12
}

tr {
  text-align: center;
}

.most-likes {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-around;
}

.button {
  width: 250px;
  height: 50px;
  margin-top: 20px;
  /* background-color: #ff4400;
  color: white */
}
