.horizontalcenter {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

button {
  font-size: 14px;
  font-weight: bold;
  height: 45px;
  border-radius: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.buttonText {
  padding-left: 15px;
  padding-right: 15px;
  white-space:pre !important;
}

button:disabled,
button[disabled]{
  background-color: #cccccc !important;
  color: #666666;
}

.mat-button {
  border-radius: 10px;
}
